<% layout('layouts/boilerplate') %>
<div class="col-6 offset-3">
    <form action="/client/select/<%=fileId%>/<%=content._id%>?_method=PUT" class="validated-form" method="POST">
        <div class="mb-3">
            <h2 class="text-center">Edit Data</h2>
            <% for(let header of headers) { %> 
            <label class="form-label" for="<%= header %>"><%= header %> :</label>
            <input class="form-control" type="text" name="<%= header %>" id="<%= header %>" value="<%= content[header] %>">
            <% } %> 
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
</div>